<a href="https://colab.research.google.com/github/Mtaimoorakmal/DSA/blob/main/Triangle_Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
num = int(input("enetr a num:"))
row = 1

while row <= num:
  # first Triangle
    space  = num - row
    while space:
        print("*", end=" ")
        space -= 1
    # second triangle
    col1 = 1
    while col1<=row:
        print(col1, end=" ")
        col1+=1
    # third triangle
    col2 = row-1
    while col2:
        print(col2, end=" ")
        col2-=1
    print()

    row += 1

enetr a num:9
* * * * * * * * 1
* * * * * * * 1 2 1
* * * * * * 1 2 3 2 1
* * * * * 1 2 3 4 3 2 1
* * * * 1 2 3 4 5 4 3 2 1
* * * 1 2 3 4 5 6 5 4 3 2 1
* * 1 2 3 4 5 6 7 6 5 4 3 2 1
* 1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1